@using ControllerHiding.Extensions
@using ControllerHiding.Repositories
@model ControllerHiding.DTO.Page

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@switch (Model.RouteName) //Simulate different templates per page
{
    case "":
        <div class="jumbotron">
            <div class="container">
                <h2>Home</h2>
                <p>Home, sweet home!</p>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @Html.RenderModuleArea(Model, "TopArea")
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-4">
                    @Html.RenderModuleArea(Model, "BottomAreaLeft")
                </div>
                <div class="col-md-4">
                    @Html.RenderModuleArea(Model, "BottomAreaCenter")
                </div>
                <div class="col-md-4">
                    @Html.RenderModuleArea(Model, "BottomAreaRight")
                </div>
            </div>
        </div>
        break;

    case "Blog":
        <div class="jumbotron">
            <div class="container">
                <h2>Blog</h2>
                <p>Here are some Blog-Entries</p>
                <p>They are fake of cause ;-P</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-9">@Html.RenderModuleArea(Model, "LeftContent")</div>
                <div class="col-md-3">@Html.RenderModuleArea(Model, "RightContent")</div>
            </div>
        </div>
        break;

    case "BlogEntry":
    case "LatestEntry":
        <div class="jumbotron">
            <div class="container">
                @if (Model.RouteName == "BlogEntry")
                {
                    <h2>Blog</h2>
                    <p>Here is one of our cool Blog Entries</p>
                    <p>They are fake of cause ;-P</p>
                }
                else
                {
                    <h2>Latest Post</h2>
                    <p>Here is the latest post</p>
                }
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-9">@Html.RenderModuleArea(Model, "LeftContent")</div>
                <div class="col-md-3">@Html.RenderModuleArea(Model, "RightContent")</div>
            </div>
            <div class="row">
                <hr/>
                <div class="col-md-12"><a href="@Url.LinkToPage(new PageRepository().GetPageByRoute("Blog"))">Back to the list</a>
                </div>
            </div>
        </div>
        break;
}
