@using ControllerHiding.Extensions
@using ControllerHiding.Models
@using ControllerHiding.Routing
@model AnotherHiddenFormModel

@{
    var hiddenFormData = new HiddenFormData()
    {
        Controller = "AnotherHiddenForm",
        Action = "MyFormAction",
        Identifier = ViewData["Identifier"]?.ToString()
    };
}

<h2>Another Hidden Controller</h2>

@Html.ValidationSummary("")

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <input type="hidden" name="FormData" value="@hiddenFormData.Encrypt()" />

    @Html.LabelFor(x => x.Name)
    @Html.TextBoxFor(x => x.Name)
    <br/>

    @Html.LabelFor(x => x.Street)
    @Html.TextBoxFor(x => x.Street)
    <br />
    <button type="submit">Send</button>
}